@import "tailwindcss";

@font-face {
    font-family: 'Young Serif';
    src: url('./assets/fonts/young-serif/YoungSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Outfit";
    src: url('./assets/fonts/outfit/Outfit-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@layer utilities{
    .font-young-serif {
        font-family: 'Young Serif', serif;
    }
    .font-outfit {
        font-family: 'Outfit', sans-serif;
    }
    
}